body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #878787;
}

.site-header {
    text-align: center;
    padding: 10px 0;
    background-color: black;
}

.site-header img {
    max-height: 100px;
}

.site-header h1 {
    margin: 0;
    font-size: 2em;
}


.item {
    background-color: #717171;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    flex-basis: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.item img {
    width: calc(100% - 20px);
    height: auto;
    margin: 0 10px;
    display: block;
    object-fit: contain;
}

.item h3 {
    margin: 5px 0;
    text-align: center;
}

.item p {
    margin: 5px 0;
    text-align: left;
}

.item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 20px;
    transition: grid-template-columns 0.3 ease-in-out;
    opacity: 0;
    animation: fadeIn 5s ease forwards;
}

.movies-section, .people-section {
    padding: 20px;
    border: 1px solid #ccc;
}

#movies-container, #people-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}


.search-bar {
    width: 200px; /* Set a fixed width for the search bar */
    margin: 20px auto; /* Center the search bar and add some margin at the top */
    padding: 5px;
    box-sizing: border-box;
    border-radius: 25px;
    background: white;
    border: 4px solid white;
    display: flex; /* Use flexbox for aligning the search icon and input field */
    justify-content: space-between; /* Space out the icon and input field */
    align-items: center; /* Center items vertically */
}

.search-bar input {
    flex-grow: 1; /* Allow the input to grow to fill the space */
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 10px;
}

.search-bar .fa {
    padding: 10px;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

.search-bar a {
    display: none; /* Hide the clear button by default */
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer; /* Change cursor to pointer for the clear button */
}

.search-bar input:focus + .fa,
.search-bar input:not(:placeholder-shown) + .fa {
    background: #07051a;
    color: white;
}

.search-bar input:focus + .fa + a,
.search-bar input:not(:placeholder-shown) + .fa + a {
    display: block; /* Show the clear button when input is focused or not empty */
}


/* Media Queries */
@media (min-width: 768px) {
    .container {
        grid-template-columns: 2fr 1fr;
    }
}

@media (max-width: 768px) {
    .item {
        flex-basis: calc(75% - 10px);
    }

    .container {
        opacity: 0; 
    }

    .search-bar {
        top: initial;
        left: initial;
        transform: none;
    }
}

/* Loading Screen Styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeOut 5s ease forwards;
}

.loading-logo {
    width: 150px;
    animation: logoAnimation 2s infinite;
}

@keyframes logoAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}




form{
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid{
    width: 200px;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    background: #07051a;
    color: white;
}


a {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}

form:valid a {
  display: block;
}

