# Dependency directories



jspm_packages/


__pycache__/


node_modules/

package-lock.json

package.json


backend/utils/database.js

package-lock.json

package.json

backend/uploads/


backend/utils/database.js