<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NtuaFlix Admin</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="../static/logo.png">
  <link rel="stylesheet" href="/static/css/landing.css">
  <style>
    .upload-section {
      width: 175px;
      
      display: inline-block;
      /* Set to inline-block for side-by-side layout */
      margin: 20px;
    }

    .upload-button {
      
      align-self: center;
      margin: 5px;
      width: 175px;
      height: 40px;
      /* Increased height for better clickability */
      background-color: #007bff;
      /* A pleasant blue color */
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;
      /* Smooth transition for color and transformation */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      /* Slight shadow for depth */
      font-weight: bold;
    }

    .upload-button:hover,
    .upload-button:focus {
      background-color: #0056b3;
      /* Darker shade on hover */
      transform: translateY(-2px);
      /* Slight lift on hover */
      outline: none;
      /* Remove focus outline */
    }

    .upload-button:active {
      background-color: #004080;
      /* Even darker on click */
      transform: translateY(1px);
      /* Push down on click */
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      /* Adjust shadow on click */
    }


    .admin-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .drop-zone {
      border: 2px dashed #ccc;
      padding: 20px;
      text-align: center;
      min-width: 100px;
      cursor: pointer;
    }

    .drop-zone.dragover {
      border-color: #000;
    }

    
  </style>
</head>

<body>
  <header class="site-header">
    <img src="../static/logo.png" alt="NTUAFlix Logo" class="logo" id="logoImage">

    
    <button id="loginButton" class="login-btn">🔒</button>

  </header>
<h1>Admin Dashboard</h1>
  <div class="admin-container">
    
    <!-- Upload Title Basics -->
    <div class="upload-section">
      <h2>Upload Title Basics</h2>
      <div id="title-basics-drop-zone" class="drop-zone">
        Drag and drop a file here or click to select a file
      </div>
      <button
        onclick="uploadSingleFile('title-basics-drop-zone', 'http://localhost:7117/admin/upload/titlebasics')"
        class="upload-button">Upload
        Title Basics</button>
    </div>

    <!-- Upload Name Basics -->
    <div class="upload-section">
      <h2>Upload Name Basics</h2>
      <div id="name-basics-drop-zone" class="drop-zone">
        Drag and drop a file here or click to select a file
      </div>
      <button
        onclick="uploadSingleFile('name-basics-drop-zone', 'http://localhost:7117/admin/upload/namebasics')"
        class="upload-button">Upload Name
        Basics</button>
    </div>

    <!-- Upload Title Akas -->
    <div class="upload-section">
      <h2>Upload Title Akas</h2>
      <div id="title-akas-drop-zone" class="drop-zone">
        Drag and drop a file here or click to select a file
      </div>
      <button
        onclick="uploadSingleFile('title-akas-drop-zone', 'http://localhost:7117/admin/upload/titleakas')"
        class="upload-button">Upload
        Title Akas</button>
    </div>

    <!-- Upload Title Crew -->
    <div class="upload-section">
      <h2>Upload Title Crew</h2>
      <div id="title-crew-drop-zone" class="drop-zone">
        Drag and drop a file here or click to select a file
      </div>
      <button
        onclick="uploadSingleFile('title-crew-drop-zone', 'http://localhost:7117/admin/upload/titlecrew')"
        class="upload-button">Upload
        Title Crew</button>
    </div>

    <!-- Upload Title Episode -->
    <div class="upload-section">
      <h2>Upload Title Episode</h2>
      <div id="title-episode-drop-zone" class="drop-zone">
        Drag and drop a file here or click to select a file
      </div>
      <button
        onclick="uploadSingleFile('title-episode-drop-zone', 'http://localhost:7117/admin/upload/titleepisode')"
        class="upload-button">Upload
        Title Episode</button>
    </div>

    <!-- Upload Title Principals -->
    <div class="upload-section">
      <h2>Upload Title Principals</h2>
      <div id="title-principals-drop-zone" class="drop-zone">
        Drag and drop a file here or click to select a file
      </div>
      <button
        onclick="uploadSingleFile('title-principals-drop-zone', 'http://localhost:7117/admin/upload/titleprincipals')"
        class="upload-button">Upload
        Title Principals</button>
    </div>

    <!-- Upload Title Ratings -->
    <div class="upload-section">
      <h2>Upload Title Ratings</h2>
      <div id="title-ratings-drop-zone" class="drop-zone">
        Drag and drop a file here or click to select a file
      </div>
      <button
        onclick="uploadSingleFile('title-ratings-drop-zone', 'http://localhost:7117/admin/upload/titleratings')"
        class="upload-button">Upload
        Title Ratings</button>
    </div>
    <hr>
    <div class="button-container" style="text-align: center; margin-top: 20px;">
      <!-- Reset All Data Button -->
      <button onclick="resetAllData()" class="upload-button">Reset All Data</button>
    
      <!-- Backup Data Button -->
      <button onclick="backupData()" class="upload-button">Backup Data</button>
      <button onclick="moreData()" class="upload-button">More Backup Data</button>
    </div>

  </div>



  <script>

    
  document.getElementById('logoImage').addEventListener('click', function() {
    window.location.href = 'http://localhost:8228/';
  });
  
  document.getElementById('loginButton').addEventListener('click', function() {
    window.location.href = 'http://localhost:8228/login';
  });
  
    // Setup for each drop zone
    document.querySelectorAll('.drop-zone').forEach(dropZone => {
      dropZone.addEventListener('click', () => {
        const fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.accept = '.tsv';
        fileInput.onchange = () => {
          dropZone.file = fileInput.files[0];
          dropZone.textContent = fileInput.files[0].name;
        };
        fileInput.click();
      });

      dropZone.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropZone.classList.add('dragover');
      });

      dropZone.addEventListener('dragleave', () => {
        dropZone.classList.remove('dragover');
      });

      dropZone.addEventListener('drop', (e) => {
        e.preventDefault();
        dropZone.classList.remove('dragover');
        dropZone.file = e.dataTransfer.files[0];
        dropZone.textContent = e.dataTransfer.files[0].name;
      });
    });

    function uploadFile(file, endpoint) {
      return new Promise((resolve, reject) => {
        const formData = new FormData();
        formData.append('file', file);
        formData.append('secretKey', '3141592653589793236264');
        formData.append('is_user_admin', 'true');

        fetch(endpoint, {
          method: 'POST',
          body: formData
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            resolve(data.message);
          })
          .catch(error => {
            reject(error);
          });
      });
    }


    function uploadSingleFile(dropZoneId, endpoint) {
      const dropZone = document.getElementById(dropZoneId);
      if (dropZone && dropZone.file) {
        const file = dropZone.file;
        const formData = new FormData();
        formData.append('file', file);
        formData.append('secretKey', '3141592653589793236264');
        formData.append('is_user_admin', 'true');

        fetch(endpoint, {
          method: 'POST',
          body: formData
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            alert(data.message);
          })
          .catch(error => {
            console.error('Error:', error);
            alert('Upload failed');
          });
      } else {
        alert('Please select a file to upload.');
      }
    }


    
  function resetAllData() {
    const formData = new FormData();
    formData.append('secretKey', '3141592653589793236264');
    formData.append('is_user_admin', 'true');

    fetch('http://localhost:7117/admin/resetall', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      alert("Database reset successfully");
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Reset failed');
    });
  }

  function backupData() {
    const formData = new FormData();
    formData.append('secretKey', '3141592653589793236264');
    formData.append('is_user_admin', 'true');

    
    fetch('http://localhost:7117/admin/backup', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      alert("Database info added successfully");
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Backup failed');
    });
  }

  
  function moreData() {
    const formData = new FormData();
    formData.append('secretKey', '3141592653589793236264');
    formData.append('is_user_admin', 'true');

    
    fetch('http://localhost:7117/admin/moredata', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      alert("Database info added successfully");
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Backup failed');
    });
  }

  </script>

</body>

</html>