<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NTUAFlix</title>
  <link rel="icon" type="image/png" href="../static/logo.png">
  <link rel="stylesheet" href="/static/css/landing.css">
</head>

<body>
  <div id="loadingScreen" class="loading-screen">
    <img src="../static/logo.png" alt="NTUAFlix Logo" class="loading-logo">
  </div>
  <header class="site-header">
    <img src="../static/logo.png" alt="NTUAFlix Logo">
  </header>
  <div class="container">
    <div class="movies-section">
      <h2>Movies</h2>
      <input type="text" id="movie-search" placeholder="Search Movies...">
      <div id="movies-container"></div>
    </div>
    <div class="people-section">
      <h2>People</h2>
      <input type="text" id="people-search" placeholder="Search People...">
      <div id="people-container"></div>
    </div>
  </div>

</body>
<script>

  document.addEventListener('DOMContentLoaded', function () {
    fetchData('http://localhost:7117/ntuaflix_api/toptwentymovies', 'movies-container');
    fetchData('http://localhost:7117/ntuaflix_api/toptenpeople', 'people-container');

    setTimeout(() => {
    const loadingScreen = document.getElementById('loadingScreen');
    loadingScreen.style.animationPlayState = 'running';

    // After the loading screen fades out, fade in the main content
    loadingScreen.addEventListener('animationend', () => {
      loadingScreen.style.display = 'none';

      const mainContent = document.querySelector('.container');
      mainContent.style.animationPlayState = 'running';
    });
  }, 3000);

  });

  function fetchData(url, containerId) {
    fetch(url)
      .then(response => response.json())
      .then(data => {
        displayData(data, containerId);
      })
      .catch(error => console.error('Error fetching data:', error));
  }

  function displayData(data, containerId) {
    const container = document.getElementById(containerId);
    container.innerHTML = ''; // Clear existing content

    data.forEach(item => {
      const div = document.createElement('div');
      div.classList.add('item');
      div.innerHTML = '';
      
      if (containerId === 'movies-container' || containerId === 'people-container') {
        if (item.img_url_asset != null) {
          div.innerHTML += `<img src="${item.img_url_asset.replace('{width_variable}', 'w400')}" alt="${item.primaryName || item.primarytitle}">`;
        }

      }

      if (containerId === 'movies-container') {

        div.innerHTML += `
                <h3>${item.primarytitle}</h3>
                <p>Rating: ${item.averageRate}</p>
                <p>Year: ${item.startYear}</p>`;
        if (item.genres != null) {
          div.innerHTML += `<p>Genre: ${(item.genres).replace(/,/g, ', ')}</p>`;
        }

      } else if (containerId === 'people-container') {


        div.innerHTML += `
                <h3>${item.primaryName}</h3>
                <h3>${item.primaryProfession}</h3>
            `;
      }

      container.appendChild(div);
      setTimeout(() => div.classList.add('item-loaded'), 100);
    });
  }



</script>

</html>