<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NtuaFlix</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="../static/logo.png">
  <link rel="stylesheet" href="/static/css/landing.css">
</head>
<style>
  


  .img {
    margin-top: 20px;
  }
  .choices {
    font-size: large;
    margin: 20px;
  }
</style>

<body>
  <div id="loadingScreen" class="loading-screen">
    <img src="../static/logo.png" alt="NTUAFlix Logo" class="loading-logo">
  </div>
  <header class="site-header">

    <img src="../static/logo.png" alt="NTUAFlix Logo" class="logo" id="logoImage">

    
    <button id="loginButton" class="login-btn">🔒</button>
  </header>
  
  
  
  <div class="container">
    <!-- Inside the Movies Section -->
    <div class="movies-section">

      <select id="category-select" onchange="updateCategory()" class="choices">
        <option value="all" id="option-all">All</option>
        <option value="movies" id="option-movies">Movies</option>
        <option value="tvshows" id="option-tvshows">TV Shows</option>
      </select>
      <form action="" class="search-form" onsubmit="searchMovies(event)">
        <input type="search" required id="movie-search-input">
        <i class="fa fa-search"></i>
      </form>

      <div id="movies-container"></div>
    </div>

    <!-- Inside the People Section -->
    <div class="people-section">
      <h2>People</h2>
      <form action="" class="search-form" onsubmit="searchPeople(event)">
        <input type="search" required id="people-search-input">
        <i class="fa fa-search"></i>
      </form>
      <div id="people-container"></div>
    </div>

    <!-- FontAwesome Link at the top of your <head> section -->


  </div>

</body>
<script>

  document.getElementById('logoImage').addEventListener('click', function() {
    window.location.href = 'http://uniportal.sytes.net:8228/';
  });
  
  document.getElementById('loginButton').addEventListener('click', function() {
    window.location.href = 'http://uniportal.sytes.net:8228/login';
  });


  const clearBtns = document.querySelectorAll(".clear-btn"); // Modified to select all clear buttons

  clearBtns.forEach(btn => {
    btn.addEventListener("click", function () {
      const input = this.previousElementSibling; // Assuming the input is right before the clear button in each form
      input.value = "";
    });
  });


  document.addEventListener('DOMContentLoaded', function () {
    fetchData('http://uniportal.sytes.net:7117/ntuaflix_api/topmovies', 'movies-container');
    fetchData('http://uniportal.sytes.net:7117/ntuaflix_api/toptenpeople', 'people-container');

    setTimeout(() => {
      const loadingScreen = document.getElementById('loadingScreen');
      loadingScreen.style.animationPlayState = 'running';

      // After the loading screen fades out, fade in the main content
      loadingScreen.addEventListener('animationend', () => {
        loadingScreen.style.display = 'none';

        const mainContent = document.querySelector('.container');
        mainContent.style.animationPlayState = 'running';
      });
    }, 3000);


  });

  var currentCategory = 'all'; // Default value

  function updateCategory() {
    var selectedCategory = document.getElementById('category-select').value;

    currentCategory = selectedCategory;
    searchMovies(event);
  }


  function searchMovies(event) {
    event.preventDefault(); // Prevents the form from submitting traditionally
    const titlePart = document.getElementById('movie-search-input').value;

    if (titlePart.trim() === '') {
      fetchData('http://uniportal.sytes.net:7117/ntuaflix_api/topmovies', 'movies-container');
    } else {
      const url = 'http://uniportal.sytes.net:7117/ntuaflix_api/searchtitle';
      searchMovieData(url, titlePart);
    }
  }

  function searchPeople(event) {
    event.preventDefault(); // Prevents the form from submitting traditionally
    const namePart = document.getElementById('people-search-input').value;

    if (namePart.trim() === '' || namePart === null) {
      fetchData('http://uniportal.sytes.net:7117/ntuaflix_api/toptenpeople', 'people-container');
    } else {
      const url = 'http://uniportal.sytes.net:7117/ntuaflix_api/searchname';
      searchPeopleData(url, namePart);
    }
  }


  function filterData(containerId, query) {
    const container = document.getElementById(containerId);
    const items = container.getElementsByClassName('item');

    for (let i = 0; i < items.length; i++) {
      let item = items[i];
      let title = item.querySelector('h3').textContent.toLowerCase();

      if (title.includes(query.toLowerCase())) {
        item.style.display = "";
      } else {
        item.style.display = "none";
      }
    }
  }


  function fetchData(url, containerId) {
    fetch(url)
      .then(response => response.json())
      .then(data => {
        displayData(data, containerId);
      })
      .catch(error => console.error('Error fetching data:', error));
  }

  function displayData(data, containerId) {
    const container = document.getElementById(containerId);
    container.innerHTML = ''; // Clear existing content

    //var selectedCategory = document.getElementById('category-select').value;

    /*
    short
    movie
    tvSeries
    tvEpisode
    tvMiniSeries
    */
    let list_to_exclude = []
    if (containerId === 'movies-container'){
    if (currentCategory == "tvshows") {
      list_to_exclude.push("movie")
      list_to_exclude.push("short")

    } else if (currentCategory == "movies") {

      list_to_exclude.push("tvSeries")
      list_to_exclude.push("tvMiniSeries")
    }
    list_to_exclude.push("tvEpisode")}

    data.forEach(item => {
      
      

      if (list_to_exclude.includes(item.titletype)) return; // Skip types in list_to_exclude
      const div = document.createElement('div');

      div.classList.add('item');
      div.innerHTML = '';

      if (containerId === 'movies-container' ) {
        if (item.img_url_asset != null && item.img_url_asset !== '\\N' && item.img_url_asset !== '') {
          div.innerHTML += `<img src="${item.img_url_asset.replace('{width_variable}', 'w400')}" alt="${item.primarytitle}">`;
        }

      }
      if (  containerId === 'people-container' ) {
        if (item.img_url_asset != null && item.img_url_asset !== '\\N' && item.img_url_asset !== '') {
          div.innerHTML += `<img src="${item.img_url_asset.replace('{width_variable}', 'w400')}" alt="${item.primarytitle}">`;
        }

      }

    

      if (containerId === 'movies-container') {
        div.setAttribute('data-id', item.tconst); //  Add a data attribute to each item


        div.innerHTML += `
                <h3>${item.primarytitle}</h3>`;
        if (item.averageRate != null) {
          div.innerHTML += `<p>Rating: ${item.averageRate}</p>`;
        }
        `<p>Year: ${item.startYear}</p>`;
        if (item.genres != null && item.genres !== '\\N') {
          div.innerHTML += `<p>Genre: ${(item.genres).replace(/,/g, ', ')}</p>`;
        }
        if(item.titletype == "movie" || item.titletype == "short"){

        div.addEventListener('click', () => {
          redirectToMoviePage(event.currentTarget.getAttribute('data-id'));
        });
        }else if(item.titletype == "tvSeries" || item.titletype == "tvMiniSeries"){
          div.addEventListener('click', () => {
            redirectToSeriesPage(event.currentTarget.getAttribute('data-id'));
          }); 
        }
      } else if (containerId === 'people-container') {

        console.log(item)
        div.innerHTML += `
                <h3>${item.primaryName}</h3>
                <p>${item.primaryProfession.replace(/,/g, ', ')}</p>
            `;

        div.setAttribute('data-id', item.nconst); // Assuming 'nconst' is the person ID


        div.addEventListener('click', () => {
          redirectToPersonPage(div.getAttribute('data-id'));
        });
      }

      container.appendChild(div);
      setTimeout(() => div.classList.add('item-loaded'), 100);


    });
  }

  function redirectToMoviePage(movieId) {
    window.location.href = `http://uniportal.sytes.net:8228/moviepage?movieId=${movieId}`;
  }
  function redirectToSeriesPage(seriesId) {
    window.location.href = `http://uniportal.sytes.net:8228/seriespage?seriesId=${seriesId}`;
  }

  function redirectToPersonPage(personId) {
    window.location.href = `http://uniportal.sytes.net:8228/personpage?personId=${personId}`;
  }
  function searchMovieData(url, titlePart) {
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ titlePart: titlePart })
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok ' + response.statusText);
        }
        return response.json();
      })
      .then(data => {
        displayData(data, 'movies-container'); // Reuse the displayData function
      })
      .catch(error => console.error('Error fetching data:', error));
  }

  function searchPeopleData(url, namePart) {
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ namePart: namePart })
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok ' + response.statusText);
        }
        return response.json();
      })
      .then(data => {
        displayData(data, 'people-container'); // Ensure this function is compatible with people data format
      })
      .catch(error => console.error('Error fetching data:', error));
  }


</script>

</html>